$mainBackground: #010001;
$bodyMainBackground: #303030; 
$colorWhite: #fff;
$bodyDarkGrey: #303030;
$bodyLightGrey : #b6b4c3;


$smallScreen: '767px';
$smallScreen-1: '768px';
$mediumScreen: '992px';
$largeScreen-1: '1199px';
$largeScreen: '1200px';